html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "OpenGurbaniAkhar";
  src: url("/fonts/OpenGurbaniAkhar/OpenGurbaniAkhar-Regular.otf");
  font-weight: normal;
}
@font-face { 
  font-family: "OpenGurbaniAkhar";
  src: url("/fonts/OpenGurbaniAkhar/OpenGurbaniAkhar-Bold.otf");
  font-weight: bold;
}
@font-face { 
  font-family: "OpenGurbaniAkhar";
  src: url("/fonts/OpenGurbaniAkhar/OpenGurbaniAkhar-Black.otf");
  font-weight: black;
}
