.container {
  padding: 0 1rem;
}

.main {
  min-height: 100vh;
  min-width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5rem solid;
  border-image: url("/images/border.svg") 95 95 round;
  overflow: scroll;
}
.headers {
  justify-self: start;
}

.superheader {
  font-size: .80rem;
  font-weight: normal;
}
.subheader {
  font-size: .80rem;
  font-weight: normal;
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
}

.fateh {
  font-size: 1.25rem;
  font-weight: bold;
  color: #16378C;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #D9A202;
}

.index_table {}

